/* Write your CSS here */
body {
    background-color: rgb(255, 157, 0);
    color: rgb(13, 0, 255);
    align-items: center;
}

* {
    font-size: 125%;
}

input, textarea {
    width: 80%;
    background-color: rgb(160, 251, 86);
    color: rgb(121, 0, 0)
}